.authWrapper {
  display: flex;
}

.login {
  margin-left: 20%;
}

.authFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.authFooter Grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
