.bgMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.nycLogo,
.broocleanLogo {
  margin-bottom: 20px; /* 두 이미지 사이의 간격을 조절합니다. */
}
